﻿
@{
    ViewBag.Titulo = "Venda";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}
@section style {
    <style>
        .img {
            max-width: 100%;
        }

        .td {
            padding: 0px !important;
            width: 20% !important;
        }

        .carrinho {
            width: 100%;
        }

        .th {
            padding: 0px !important;
            width: 20% !important;
        }

        .bt {
            max-width: 100% !important;
        }

        .btn-primary {
            background-color: #2bceba;
            border-color: #2bceba;
        }
        .invalid {
            font-size: 12px;
            color: red;
        }

        .inputInvalid {
            border-bottom: 1px solid red !important;
        }
    </style>
}
@section script {


    <script src="~/lib/validation/validation.js"></script>
    <script>


        document.addEventListener("DOMContentLoaded", function () {
            venda.init();
        });

        var venda = {

            init: function () {
                y.byId("Pesquisar").onclick = venda.validarCpf;
                y.byId("cpf").onkeyup = venda.cpfOnKeyUp;
                y.byId("btnF").onclick = y.esconder;
                y.byId("close").onclick = y.esconder;
            },

            clear: function () {
                y.byId("nome").value = "";
            },

            validarCpf() {
                if (!validation.formIsValid()) {

                    //alert("Veja as validações");
                    return;

                }

                venda.btnPesquisarOnClick();

            },

            btnPesquisarOnClick: function () {


                $.fancybox.open({
                    src: "/Venda/Pesquisar",
                    type: 'iframe',
                    iframe: {
                        css: {
                            'min-width': '400px',
                            'max-width': '600px',
                            'height': '500px'
                        }
                    }

                });
            },
            cpfOnKeyUp: function () {
                var cpf = document.getElementById("cpf").value;
                if (cpf.length == 11) {
                    var cpf = {
                        cpf: cpf
                    }
                    y.ajax(cpf, "/Cliente/PesquisarCpf", "POST", function (dados) {
                        if (dados.existe && dados.valido) {
                            y.byId("nome").value = dados.cliente.nome;
                        }
                        if (dados.valido && !dados.existe) {
                            venda.clear();
                            return
                        }
                        if (!dados.valido) {
                            y.byId("msg").innerHTML = "";
                            document.querySelector(".modal").classList.add("show");
                            document.querySelector(".modal").style.display = "block";
                            venda.clear();
                            y.byId("msg").innerHTML = "CPF inválido!";
                            y.byId("cpf").value = "";
                        }
                    }, function () {
                        y.byId("msg").innerHTML = "";
                        document.querySelector(".modal").classList.add("show");
                        document.querySelector(".modal").style.display = "block";
                    });
                }
            },
            adicionarAnimal: function (animal) {
                //criar table
                var tbody = y.byId("tbody");

                var tr = document.createElement("tr");
                tbody.appendChild(tr);

                var td = document.createElement("td");
                tr.appendChild(td);
                td.innerHTML = animal.nome;

                var td7 = document.createElement("td");
                tr.appendChild(td7);
                td7.innerHTML = animal.cor;

                var td4 = document.createElement("td");
                tr.appendChild(td4);
                td4.innerHTML = animal.raca;

                var td5 = document.createElement("td");
                tr.appendChild(td5);
                var input = document.createElement("input");
                input.type = "text";
                input.readOnly = true;
                input.value = animal.valor.toString().replace(".", ",");
                input.setAttribute("data-vl", "");

                td5.appendChild(input);

                var td6 = document.createElement("td");
                tr.appendChild(td6);
                var button = document.createElement("input");
                button.type = "submit";
                button.className = "btn btn-primary";
                button.id = "remover";
                button.value = "Remover";
                button.setAttribute("data-id", animal.id);
                td6.appendChild(button);
                button.onclick = function () {

                    venda.excluirTr(this);
                };
                venda.attValor();

            },

            adicionarObserver: function (animal) {
                var cpf = y.byId("cpf").value;
                var dados = {
                    cliente: cpf,
                    animal: animal.id,
                }
                y.ajax(dados, "/Venda/AddObserver", "POST", function (dados) {/*sucesso*/
                        var r = confirm("Continuar observando?");
                        if (r == false) {
                        
                            y.ajax(dados, "/Venda/RemoverOb", "POST", function (dados) {/*sucesso*/
                                alert("Observação removida");
                            }, function (animal) {/*erro*/
                            });
                        }
                   
                    }, function (animal) {/*erro*/
                });
                
            },

            excluirTr: function (botao) {
                var tbody = document.getElementById("tbody");
                tbody.removeChild(botao.parentNode.parentNode);
                venda.attValor();
            },
            attValor: function () {
                var total = 0;
                var inputs = y.bySelectorAll("table input[data-vl]");
                for (var i = 0; i < inputs.length; i++) {
                    total += parseFloat(inputs[i].value.replace(",", "."));
                }
                document.getElementById("total").value = total.toFixed(2).replace(".", ",");
            },
        };
    </script>



}

<h2 style="margin-top:3%" class="text-center">Venda</h2>

<form style="margin-top:3%">
    <div class="form-row col-md-6" style="margin: 0 auto">

        <div class="form-group col-md-6">
            <label for="inputEmail4">Cpf</label>
            <input data-validation-cpf="O CPF está inválido" data-validation-required="Requerido" data-validation-summary="msgCPF" type="text" class="form-control form-control-sm" id="cpf" maxlength="11" placeholder="Sem pontos ou caracteres especiais">
            <span class="invalid" id="msgCPF"></span>
        </div>
        <div class="form-group col-md-6">
            <label for="disabledTextInput">Cliente</label>
            <input type="text" id="nome" readonly class="form-control form-control-sm" placeholder="">
        </div>
    </div>
    <div class="form-row col-md-6" style="margin: 0 auto">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Cor</th>
                    <th scope="col">Raça</th>
                    <th scope="col">Valor</th>

                    <th scope="col">
                        <button class="btn btn-primary" id="Pesquisar" type="button">Pesquisar</button>
                    </th>
                </tr>
            </thead>
            <tbody id="tbody"></tbody>
            <tfoot>
                <tr scope="col">
                    <td>Valor Total:</td>

                    <td></td>
                    <td>R$</td>
                    <td>
                        <input type="text" id="total" readonly class="form-control form-control-sm col-md-4" placeholder="0">
                    </td>
                    <td scope="col">
                        <button class="btn btn-primary" id="comprar" type="submit">Comprar</button>
                    </td>
                </tr>
                <tr></tr>

            </tfoot>
        </table>
    </div>
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ops... Algo deu errado!</h5>
                <button type="button" class="close" id="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="msg">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnF" data-dismiss="modal">Okay</button>
            </div>
        </div>
    </div>
</div>