﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html>
<head>

    <script src="~/lib/jquery-3.3.1.js"></script>
    <script src="~/lib/popper.js"></script>
    <script src="~/lib/bootstrap-4.1.3-dist/js/bootstrap.js"></script>
    <link href="~/lib/bootstrap-4.1.3-dist/css/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <script src="~/js/simplaojs.js"></script>
    <title>@ViewBag.Titulo</title>

    <style>
        .navbar-brand {
            margin: auto;
        }


        #footer {
            width: 100%;
            height: 20px;
            background-color: #3d3d3d;
            color: #b6b6b6;
            font-size: 12px;
            text-align: center;
            margin-top: 10px;
            position: fixed;
            bottom: 0px;
        }

        .bg-light {
            background-color: #2bceba !important;
        }
    </style>
    @RenderSection("style", required: false)
    @RenderSection("script", required: false)
</head>
<body>
    <div id="top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        </nav>
    </div>
    @if (HttpContextAccessor.HttpContext.Session.GetString("logado") != null)
    {

    }    <main>
            @RenderBody()
        </main>

        <footer id="footer">
            <p>Todos os direitos reservados &copy; D.O.G Company.</p>
        </footer>
    </body>
</html>
