﻿@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/lib/jquery-3.3.1.js"></script>

    <script src="~/lib/fancybox/jquery.fancybox.js"></script>



    <script src="~/lib/popper.js"></script>


    <link href="~/lib/fancybox/jquery.fancybox.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-4.1.3-dist/js/bootstrap.js"></script>
    <link href="~/lib/bootstrap-4.1.3-dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/js/simplaojs.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Titulo</title>
    <style>
        #footer {
            width: 100%;
            height: 20px;
            background-color: #3d3d3d;
            color: #b6b6b6;
            font-size: 12px;
            text-align: center;
            margin-top: 10px;
            position: fixed;
            bottom: 0px;
        }

        .rounded {
            max-width: 80px;
            max-height: 30px;
            width: auto;
            height: auto;
        }

        .bg-light {
            background-color: #2bceba !important;
        }
        #sair {
            float: right !important;
            right: 20px !important;
            position: absolute !important;
        }
    </style>
    @RenderSection("style", required: false)
    @RenderSection("script", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="~/images/Logo.jpg" class="rounded mx-auto d-block" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="~/Venda/Venda">Vendas</a>
                <a class="nav-item nav-link" href="~/Animal/Animal">Cadastrar Animais</a>
                <a class="nav-item nav-link" href="~/Cliente/Cliente">Cadastrar Clientes</a>
                <a class="nav-item nav-link" id="sair" href="~/Venda/Login">Sair</a>
            </div>
        </div>
    </nav>


    <main>
        @RenderBody()
    </main>

    *<footer id="footer">
        <p>Todos os direitos reservados &copy; D.O.G Company.</p>
    </footer>
</body>
</html>
